 @import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600&display=swap');

$backgroundColor: #212121;
$buttonColor: #FFFFFF;
$btnTextColor: #000A15;
$smallTextColor: #AFB0B2;

body {
    background-color: $backgroundColor;
    text-align: center;
        font-family: 'Finlandica', sans-serif;height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
h1 {
    color: $buttonColor;
    font-size: 30px;
    letter-spacing: 2px;
}

p {
    color: $smallTextColor;
}

.img{
    background-color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.img img{
    width: 100%;
    transition: all .5s ease;
}

.img img:hover{
    transform: scale(1.1);
}

button {
    background-color: $buttonColor;
    color: $btnTextColor;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    margin: 30px 0 20px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}




.icons span{
    background-color: #110A15;
    color: #FFFFFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease;
    margin-right: 10px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons span:hover{
    opacity: 1;
}
}